@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap");
html {
  overflow-x: hidden;
  zoom: 0.6;
}

@media (max-width: 1590px) {
  html {
    zoom: 0.48;
  }
}
body {
  background-color: #e0d8c3;
}

.wraper {
  width: 2500px;
  position: relative;
  margin: 3.125rem;
  height: 125rem;
}

.page {
  border-bottom: 10px solid rgba(0, 0, 0, 0.521);
}

.page:not(:first-child) {
  margin-top: 50px;
}

.portret {
  width: 43.75rem;
  height: auto;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.quote {
  font-size: 1.5625rem;
  font-family: "Oswald", sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.persone1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1__quote {
  text-align: right;
  width: 360px;
  margin-left: 80px;
}

.persone2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone2__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 150px;
}
.persone2__quote {
  width: 360.78px;
}
.persone2__name {
  margin-top: 50px;
  margin-bottom: 60px;
}

.persone3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone3__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone3__name {
  margin-left: 80px;
  margin-bottom: 60px;
  text-align: right;
}
.persone3__quote {
  width: 458px;
  margin-left: 80px;
  text-align: right;
}

.persone4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone4__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 190px;
}
.persone4__name {
  margin-top: 50px;
  margin-bottom: 60px;
}
.persone4__quote {
  width: 340px;
}

.page2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.persone1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1-2__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1-2__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1-2__quote {
  text-align: right;
  width: 347.16px;
  margin-left: 80px;
}

.persone2-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone2-2__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 150px;
}
.persone2-2__quote {
  width: 237.11px;
}
.persone2-2__name {
  margin-top: 50px;
  margin-bottom: 60px;
}

.persone3-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone3-2__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone3-2__name {
  margin-left: 80px;
  margin-bottom: 60px;
  text-align: right;
}
.persone3-2__quote {
  width: 160.625px;
  margin-left: 80px;
  text-align: right;
}

.persone4-2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone4-2__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 190px;
}
.persone4-2__name {
  margin-top: 50px;
  margin-bottom: 60px;
}
.persone4-2__quote {
  width: 312.943px;
}

.page3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.persone1-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1-3__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1-3__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1-3__quote {
  text-align: right;
  width: 370.677px;
  margin-left: 80px;
}

.persone2-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone2-3__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 150px;
}
.persone2-3__quote {
  width: 192.812px;
}
.persone2-3__name {
  margin-top: 50px;
  margin-bottom: 60px;
}

.persone3-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone3-3__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone3-3__name {
  margin-left: 80px;
  margin-bottom: 60px;
  text-align: right;
}
.persone3-3__quote {
  width: 308.385px;
  margin-left: 80px;
  text-align: right;
}

.persone4-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone4-3__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 190px;
}
.persone4-3__name {
  margin-top: 50px;
  margin-bottom: 60px;
}
.persone4-3__quote {
  width: 341.745px;
}

.page4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.persone1-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1-4__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1-4__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1-4__quote {
  text-align: right;
  width: 330.938px;
  margin-left: 80px;
}

.persone2-4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone2-4__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 150px;
}
.persone2-4__quote {
  width: 383.62px;
}
.persone2-4__name {
  margin-top: 50px;
  margin-bottom: 60px;
}

.persone3-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone3-4__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone3-4__name {
  margin-left: 80px;
  margin-bottom: 60px;
  text-align: right;
}
.persone3-4__quote {
  width: 361.641px;
  margin-left: 80px;
  text-align: right;
}

.persone4-4 {
  left: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone4-4__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 190px;
}
.persone4-4__name {
  margin-top: 50px;
  margin-bottom: 60px;
}
.persone4-4__quote {
  width: 334.297px;
}

.page5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.persone1-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1-5__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1-5__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1-5__quote {
  text-align: right;
  width: 398.516px;
  margin-left: 80px;
}

.persone2-5 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone2-5__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 150px;
}
.persone2-5__quote {
  width: 318.464px;
}
.persone2-5__name {
  margin-top: 50px;
  margin-bottom: 60px;
}

.persone3-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone3-5__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone3-5__name {
  margin-left: 80px;
  margin-bottom: 60px;
  text-align: right;
}
.persone3-5__quote {
  width: 286.927px;
  margin-left: 80px;
  text-align: right;
}

.persone4-5 {
  left: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone4-5__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 190px;
}
.persone4-5__name {
  margin-top: 50px;
  margin-bottom: 60px;
}
.persone4-5__quote {
  width: 387.422px;
}

.page6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.column {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}

.persone1-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1-6__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1-6__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1-6__quote {
  text-align: right;
  width: 256.823px;
  margin-left: 80px;
}

.persone2-6 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone2-6__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 150px;
}
.persone2-6__quote {
  width: 336.719px;
}
.persone2-6__name {
  margin-top: 50px;
  margin-bottom: 60px;
}

.persone3-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone3-6__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone3-6__name {
  margin-left: 80px;
  margin-bottom: 60px;
  text-align: right;
}
.persone3-6__quote {
  width: 236.823px;
  margin-left: 80px;
  text-align: right;
}

.persone4-6 {
  left: 90px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone4-6__img {
  border-top: 6px solid black;
  padding-top: 5px;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 60px;
  left: 190px;
}
.persone4-6_ .persone4-6__name {
  position: relative;
  left: 70px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.persone4-6__quote {
  width: 226.458px;
}

.about2 {
  position: relative;
  left: 80px;
}

.persone1-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.persone1-7__img {
  z-index: 1;
  border-top: 6px solid black;
  padding-top: 5px;
}
.persone1-7__name {
  margin-bottom: 60px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  margin-left: 80px;
}
.persone1-7__quote {
  text-align: right;
  width: 214.687px;
  margin-left: 80px;
}

.groop-photos img {
  width: 1250px;
  height: auto;
  margin-bottom: 50px;
}

.column-groop {
  gap: 100px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}